body {
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: #818181;
    background-color: cornflowerblue;
    }
    h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:cornflowerblue;
    color: #fff;
    text-transform: uppercase;
    padding: 70px 20px;
    text-align: center;
    }
    h2 {
        position: absolute;
        top:150px;
        left:30px;
        right:40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color:cornflowerblue;
        color: #fff;
        text-transform: uppercase;
        padding: 70px 20px;
        text-align: left;
        }
   
    p {
        position: absolute;
        top:300px;
        left:30px;
        right:40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color:cornflowerblue;
        color:black;
        text-align: left;
      }
	footer{
		position:absolute;
		top: 900px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: cornflowerblue;
        color:black;
        text-align: right;
		
	}

    
